*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDE7C7;
}

.OuterContainer{
    background: url(png1.jpg) no-repeat left;
    background-size: 55%;
    background-color: #DDE7C7;
    overflow: hidden;
    padding: 100px 0;
}

.InnerContainer{
    width: 55%;
    float: right;
    background-color: #bfd8bd;
    padding: 150px;
}

.InnerContainer h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.link{
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}



.btn{
    background-color: #edeec9;
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 40px;
    padding: 0.55rem 0;
    width: 170px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;

}

